body, html
  font-weight:200px
  font-family:'PingFang SC','STHertiSC-Light','HelveTica-Light', Arial, sans-serif


.triangle-facing-right
    display: inline-block
    margin: 1px
    border-right: 1px solid;
    border-bottom: 1px solid
    width: 5px;
    height: 5px
    transform: rotate(-45deg)




.clearfix
  zoom: 1
  &:after
      content: " "
      display: table
      clear: both
      height: 0


bg-img($url)
    background-image:url("./img/"+$url+"@2x.png")
    background-repeat:no-repeat

fontSize($size)
    font-size:$size
    line-height:$size

